body {
    margin: 20px;
    background: steelblue;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid lightgreen;
}

.card:hover {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    justify-content: space-around;
    text-align: right;
    background: brown;
    color: #2b2839;
    border-bottom: 6px solid lightgreen;
    border-top: 6px solid lightgreen;
    border-radius: 50%;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

